<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<title>下期活动</title>
	<link rel="stylesheet" href="../css/cj.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<input type="hidden" id="voteId" value="1"/>
<body class="pb_80">
<!--下期活动资料-->
<section class="after_vote_box">
	<img src="http://www.zhongyouwl.com/static/data/image/2016/04/06/09164161606.jpg.thumb.700.jpg" width="100%"/>
	<div class="details">
		<h2>杰佬带你领略广州独特的足球文化，体验天体主场气氛</h2>
		<div class="tip">
			<p>报名时间：2016-04-06 至 2016-05-01</p>
			<p>投票时间：2016-04-06 至 2016-05-01</p>
			<p>活动时间：2016-04-06 至 2016-05-01</p>
		</div>
		<div>
			<img src="../images/d1.jpg"/>
			<h1>马尔代夫形象大使</h1>
			<p>兴化，在江南小桥流水的小镇中，最初是不被人所知的。因着那一簇簇的金黄，人们蜂拥而至。每年的四月间，正是油菜花烂漫之时，千百垛田漂浮于水中，乘一叶扁舟便可尽收眼底。油菜花随风摆动，香气扑鼻，让人如痴如醉。除了油菜花，来到兴化不妨早起吃个早茶，去到兴化老街上走一遭，待到傍晚时，霞光霭霭，镀一层暖光，这时的油菜花才真正活了起来。</p>
			<img src="../images/d2.jpg"/>
			<h1>参加央视歌舞比赛</h1>
			<p>兴化，在江南小桥流水的小镇中，最初是不被人所知的。因着那一簇簇的金黄，人们蜂拥而至。每年的四月间，正是油菜花烂漫之时，千百垛田漂浮于水中，乘一叶扁舟便可尽收眼底。油菜花随风摆动，香气扑鼻，让人如痴如醉。除了油菜花，来到兴化不妨早起吃个早茶，去到兴化老街上走一遭，待到傍晚时，霞光霭霭，镀一层暖光，这时的油菜花才真正活了起来。</p>
	
		</div>
	</div>
</section>
<!--下期活动资料 /-->

<!--往期下期-->
<section class="toggle_vote" style="display: none;">
	<a href="beforeList.html">往期回顾</a>
	<a href="afterVote.html">下期预告</a>
</section>
<!--往期下期 /-->
<!--底部 -->
<footer>
	<a href="index.html"><span class="i_home"></span>首页</a>
	<a href="ranking.html"><span class="i_ranking"></span>排名</a>
	<a href="signUp.html"><span class="i_sign_up"></span>报名</a>
	<a href="rule.html"><span class="i_rule"></span>规则</a> 
	<a href="user.html"><span class="i_user"></span>我的</a>
	<div class="last" id="toggleVote"><i class="arrow"></i></div>
</footer>
<!--底部 /-->
<!--全局搜索-->
<div class="common_search_box">
	<form action="index.html" method="get">
		<div class="search_bg">
			<div class="search">
				<input type="text" name="key" placeholder="请输入选手名称或者编号进行搜索" value="" />
				<input type="submit" value=""/>
			</div>
		</div>
	</form>	
</div>
<div class="dialog"></div>
<i class="f_search pos_a" id="showSearch"></i>
<!--全局搜索 /-->
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/cj.js"></script>