<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<title>排名-投票</title>
	<link rel="stylesheet" href="../css/cj.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<input type="hidden" id="voteId" value="1"/>
<body class="pb_80 b_bc">
	<!--未关注公会显示内容-->	
<div class="follow_box">关注我们有更多惊喜哦~<a href="">关注</a></div>
<!--未关注公会显示内容 /-->
<!--排行标题-->	
<section class="title">活动排名</section>
<!--排行标题 /-->
<!--排行列表-->
<section class="ranking_list">
	<ul>
		<li>
			<a href="playerDetails.html?id=1">
				<div class="no">1</div>
				<div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
				<span>蛋蛋子</span>
				<div class="votes_num">758票</div>
			</a>
		</li>
		<li>
			<a href="playerDetails.html?id=1">
				<div class="no">2</div>
				<div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
				<span>蛋蛋子</span>
				<div class="votes_num">758票</div>
			</a>
		</li>
		<li>
			<a href="playerDetails.html?id=1">
				<div class="no">3</div>
				<div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
				<span>蛋蛋子</span>
				<div class="votes_num">758票</div>
			</a>
		</li>


	</ul>
</section>
<!--排行列表 /-->
<!--往期下期-->
<section class="toggle_vote" style="display: none;">
	<a href="beforeList.html">往期回顾</a>
	<a href="afterVote.html">下期预告</a>
</section>
<!--往期下期 /-->
<!--底部 -->
<footer>
	<a href="index.html"><span class="i_home"></span>首页</a>
	<a href="ranking.html"><span class="i_ranking"></span>排名</a>
	<a href="signUp.html"><span class="i_sign_up"></span>报名</a>
	<a href="rule.html"><span class="i_rule"></span>规则</a> 
	<a href="user.html"><span class="i_user"></span>我的</a>
	<div class="last" id="toggleVote"><i class="arrow"></i></div>
</footer>
<!--全局搜索-->
<div class="common_search_box">
	<form action="index.html" method="get">
		<div class="search_bg">
			<div class="search">
				<input type="text" name="key" placeholder="请输入选手名称或者编号进行搜索" value="" />
				<input type="submit" value=""/>
			</div>
		</div>
	</form>	
</div>
<div class="dialog"></div>
<i class="f_search pos_a" id="showSearch"></i>
<!--全局搜索 /-->
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/cj.js"></script>
